
.anthony { 
    // the image size is 1000px x 123px;
    background-image: url(http://www.tngoc.com/docs/NAS-HCS-BillingInfo.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #f2f2f2;
    padding: 6%;

}
